
.card-s {
    width: 22%;
    border-radius: 9px;
    box-shadow: 2px 2px #869295;
    border: 1px solid;
    margin: 5px;
    height: 22%;
}
.card-l {
    width: 44%;
    border-radius: 9px;
    box-shadow: 2px 2px #869295;
    border: 1px solid;
    margin: 5px;
    height: 44%;
}
p{
    width: auto;
}
.bottom_card{
    height:18vh;
    width:100%;
    /* background-color:#CCC; */
    overflow-y:auto;
    float:left;
    position:relative;
    margin-left:-5px;
}
.bc_height{
    height: 36vh !important;
}
.bottom_card::-webkit-scrollbar {
    display: none;
}
.udbp{
    border-radius: 5px;
    box-shadow: 2px 2px 2px #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.light_indicator {
    width: .8vw;
    padding: 0px;
    height: .8vw;
}
.card-l .light_indicator {
    padding: 0px;
    width: 1.6vw;
    height: 1.6vw;
}
.secondary_text {
    font-size: .5vw;
    color: #869295;
}
.card-l .secondary_text {
    font-size: 1vw;
    color: #869295;
}
.scroll_text{
    font-size: 60%;
    color: #869295;
}
.reg_text{
    font-size: .6vw;
    color: #869295;
    font-weight: bold;
}
.card-l .reg_text{
    font-size: 1.2vw;
    color: #869295;
    font-weight: bold;
}
.primary_text {
    color: #253350;
}
.asset_names {
    font-size: 1.5vw;
}
.card-l .asset_names{
    font-size: 3vw;
}
.price{
    font-size: 1.2vw;
}
.card-l .price{
    font-size: 2.4vw;
}
.nmw{
    font-size: 1vw;
    color: #869295;
}
.on_clr{
    font-size: 90%;
    color: #00878F;
}
.warning_col{
    color:#F43B00;
}
.rtu{
    display:none;
}
.vpn:hover  .rtu{
    display: block;
    position: fixed;
}
#sw1{
    display: none;
}
#sw1_icon:hover #sw1{
    display: block;
    position: absolute;
}
#ftm{
    display: none;
}
#top_row{
    height: 40%;
    /*background-color: green;*/
}
#ftm_icon:hover #ftm{
    display: block;
    position: absolute;
}
#gen{
    display: none;
}
#gen_icon:hover #gen{
    display: block;
    position: absolute;
}
#ld{
    display: none;
}
#load_icon:hover #ld{
    display: block;
    position: absolute;
}
.fuse_text{
    font-size: .45vw;
    color: #869295;
}
.card-l .fuse_text{
    font-size: .9vw;
    color: #869295;
}
.unrow_r{
    padding-right: 0 !important;
}
.unrow_l{
    padding-left: 0 !important;
}
.top_card {
    /*height: 15% !important;*/
}
@keyframes border-pulsate-red {
    0%   { color: rgba(255, 0, 0, 1); }
    50%  { color: rgba(255, 0, 0, 0); }
    100% { color: rgba(255, 0, 0, 1); }
}
@keyframes color-pulsate-green {
    0%   { color: rgba(0, 255, 0, 1); }
    50%  { color: rgba(0, 255, 0, 0); }
    100% { color: rgba(0, 255, 0, 1); }
}
@keyframes color-pulsate-blue {
    0%   { color: rgba(0, 0, 255, 1); }
    50%  { color: rgba(0, 0, 255, 0); }
    100% { color: rgba(0, 0, 255, 1); }
}

@keyframes border-pulsate-red {
    0%   { box-shadow: 0 0 3px 3px red; }
    50%  {  box-shadow: 0 0 3px 3px rgba(255, 0, 0, 0); }
    100% { box-shadow: 0 0 3px 3px red; }
}
@keyframes border-pulsate-green {
    0%   { box-shadow: 0 0 3px 3px green; }
    50%  {  box-shadow: 0 0 3px 3px rgba(255, 0, 0, 0); }
    100% { box-shadow: 0 0 3px 3px green; }
}
@keyframes border-pulsate-blue {
    0%   { box-shadow: 0 0 3px 3px blue; }
    50%  {  box-shadow: 0 0 3px 3px rgba(255, 0, 0, 0); }
    100% { box-shadow: 0 0 3px 3px blue; }
}

.green-color-fast{
    animation: color-pulsate-green 1s infinite;
}
.blue-color-fast{
    animation: color-pulsate-blue 1s infinite;
}
.red-color-fast{
    animation: color-pulsate-red 1s infinite;
}
.green-shadow-fast{
    animation: border-pulsate-green 1s infinite;
}
.red-shadow-fast{
    animation: border-pulsate-red 1s infinite;
}
.blue-shadow-fast{
    animation: border-pulsate-blue 1s infinite;
}

.green-color-med{
    animation: color-pulsate-green 2s infinite;
}
.blue-color-med{
    animation: color-pulsate-blue 2s infinite;
}
.red-color-med{
    animation: color-pulsate-red 2s infinite;
}
.green-shadow-med{
    animation: border-pulsate-green 2s infinite;
}
.red-shadow-med{
    animation: border-pulsate-red 2s infinite;
}
.blue-shadow-med{
    animation: border-pulsate-blue 2s infinite;
}

.green-color-slow{
    animation: color-pulsate-green 3s infinite;
}
.blue-color-slow{
    animation: color-pulsate-blue 3s infinite;
}
.red-color-slow{
    animation: color-pulsate-red 3s infinite;
}
.green-shadow-slow{
    animation: border-pulsate-green 3s infinite;
}
.red-shadow-slow{
    animation: border-pulsate-red 3s infinite;
}
.blue-shadow-slow{
    animation: border-pulsate-blue 3s infinite;
}
.bar_left{
    width:80% ;
    /*border: 1px solid black;*/
    height: 10px;

    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.bar_right{
    width:80%;
    height: 10px;
    /*border: 1px solid black;*/

    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.vertical_line{
    width:1px !important;
    height: 4vh;
    border:1px solid black;

}
#dis_bar{
    background-color: #3809BE;
}
#char_bar{
    background-color: #31F9D5;
}
#loadudbp{
    background-color: #C2D8C7;

}
#genudbp{
    background-color: #B5CEDF;
}
.unrow {
    width: auto !important;
}
